@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
#slideShow {
  width: 1000px;
  height: 300px;
  position: relative;
  margin: 50px auto;
  overflow: hidden;
}
.slides {
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s ease-out;
}
.slides img {
  width: 1000px;
}
.slides li:not(:last-child) {
  float: left;
}
.controller span {
  position: absolute;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  font-size: 1.3em;
  cursor: pointer;
}
.prev {
  left: 10px;
}
.prev:hover {
  transform: translateX(-10px);
}
.next {
  right: 10px;
}
.next:hover {
  transform: translateX(10px);
}
.page {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.dot {
  display: inline-block;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
